body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.section-navigation {
  padding: 15px 0;
}
.container {
  width: 80%;
  margin: auto;
}
.nav {
  list-style: none;
  text-align: right;
}
.nav-item {
  display: inline;
  margin-left: 40px;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.section-intro {
  padding: 50px 0;
}
.intro-info {
  float: left;
  margin-top: 120px;
  width: 40%;
}
.header-name-1 {
  font-family: "Passion One", cursive;
  font-size: 60px;
  margin: 0px 0px;
  color: #2c2929;
}
.header-name-2 {
  font-family: "Passion One", cursive;
  font-size: 60px;
  color: #f56260;
  margin: 2px 0;
}
.intro-text {
  font-size: 17px;
  color: darkolivegreen;
}
.btn-hire-me {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #f56260, #e4aa52);
  padding: 15px 30px;
  border-radius: 7px;
  color: white;
}
.intro-img {
  text-align: center;
}
.intro-img-mod {
  width: 40%;
  margin-top: -110px;
}

.about-img {
  float: left;
  width: 60%;
}
.about-img-mod {
  width: 68%;
  margin-top: -164px;
}
.about-info {
}
.about-text {
  margin: 30px;
  padding: 0 70px;
  text-align: justify;
  color: darkolivegreen;
}
