.nav {
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: inherit;
      color: $color-secondary;
      letter-spacing: 0.2rem;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
