.nav {
  &__list {
    list-style: none;
    display: flex;
    // @include respond(tab-port) {
    //   display: none;
    // }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 2rem;
      font-weight: bold;
      font-family: inherit;
      color: $color-secondary;
      letter-spacing: 0.2rem;
      @include respond(tab-port) {
        font-size: 1.4rem;
      }
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.res-menu i {
  font-size: 2rem;
  color: $color-primary;
  display: none;
  @include respond(tab-port) {
    display: block;
  }
}
