*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: $color-white;
  border-top: 0.7rem solid $color-primary;
  font-family: "IM Fell Great Primer SC", serif;
}
