.heading__primary {
  font-style: inherit;
  font-size: 6rem;
  color: $color-secondary;
  @include respond(big-desktop) {
    font-size: 4rem;
  }

  &-gallery {
    font-size: 4rem;
    @include respond(tab-land) {
      font-size: 3rem;
    }
    @include respond(tab-port-2) {
      font-size: 2rem;
    }
  }
}
.heading__tertiary {
  font-size: 1.8rem;

  &-footer {
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
  }
}
