$color-primary: #40aed7;

$color-secondary: #666666;

$color-tertiary: #cccccc;
$color-tertiary-light: #e9e9e9;

$color-grey-dark: #808080;
$color-dark-1: #1b1b1b;
$color-dark-2: #161616;

$color-grey-light-1: #d6d6d6;

$color-white: #fff;

$bp-largest: 87.5em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-medium-2: 50em;
