.header {
  padding: 2.5rem 0;
  border-bottom: 1px solid $color-grey-light-1;
  width: 97%;
  margin: 0 auto;
  @include respond(tab-port) {
    padding: 2rem;
  }
  @include respond(tab-port-2) {
    padding: 1.8rem;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
  margin-top: 4rem;
}
.logo {
  @include respond(tab-port) {
    order: 1;
  }
  &__photo {
    margin-left: 3rem;
    @include respond(tab-port) {
      width: 100px;
      height: auto;
    }
  }
}

.section-main {
  padding: 4rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include respond(tab-land) {
    display: block;
  }
}
.main {
  width: 85%;
  text-align: center;
  @include respond(tab-land) {
    width: 100%;
  }
  &__photo {
    width: 90%;
    height: 45rem;
    @include respond(tab-land) {
      width: 100%;
    }
    @include respond(big-desktop) {
      width: 85%;
    }
  }
  &__text {
    width: 12%;
    text-align: center;
    margin-right: 4rem;

    @include respond(big-desktop) {
      width: 20%;
    }
    @include respond(tab-port) {
      margin: 0 auto;
      width: 55%;
      margin-top: 2rem;
    }
    &-para {
      font-size: 1.5rem;
      margin: 1rem 0;
    }
  }
}

.section__gallery {
  padding: 4rem 0;
}
.gallery__text {
  text-align: center;

  &-para {
    width: 30%;
    font-size: 1.7rem;
    font-style: italic;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
}
.gallery__button {
  display: flex;
  justify-content: center;
}
